<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<style>
		.jumbotron {
			width: 400px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		.table {
			margin-top: 20px;
		}
		.table th {
			text-align: center;
		}
		.form-control {
			margin-bottom: 5px;
		}
	</style>
	<script src="lib/angular/angular.js"></script>
	<script>
		angular.module("listaTelefonica", []);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope) {
			$scope.app = "Lista Telefonica";
			$scope.contatos = [
				{nome: "Pedro", telefone: "99999888"},
				{nome: "Ana", telefone: "99999877"},
				{nome: "Pedro", telefone: "999998866"}
			];
			/*$scope.adicionarContato = function() {
				//console.log($scope.nome);
				$scope.contatos.push({nome: $scope.nome, telefone: $scope.telefone});
			};*/
			$scope.adicionarContato = function(contato) {
				//$scope.contatos.push({contato});
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
			};
		 });
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<!-- <h4 ng-bind="app"></h4> -->
		<h3>{{app}}</h3>
		<table class="table table-striped">
			<thead>
				<th>Nome</th>
				<th>Telefone</th>
			</thead>
			<tbody>
				<tr ng-repeat="contato in contatos">
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
				</tr>
			</tbody>
		</table>
		<hr/>
		<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome">
		<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)">Adicionar Contato</button>
		{{contato}}
	</div>
</body>
</html>